<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--数据库连接信息-->
    <add name="CoreConnectionString"     connectionString="data source=198.198.198.155;initial catalog=柳南万达广场_MacamCore;    user id=sa;password=1234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="HisAlarmConnectionString" connectionString="data source=198.198.198.155;initial catalog=柳南万达广场_MacamHisAlarm;user id=sa;password=1234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="HisDataConnectionString"  connectionString="data source=198.198.198.155;initial catalog=柳南万达广场_MacamHisData; user id=sa;password=1234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="RTConnectionString"       connectionString="data source=198.198.198.155;initial catalog=柳南万达广场_MacamRT;      user id=sa;password=1234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EMSConnectionString"      connectionString="data source=198.198.198.155;initial catalog=柳南万达广场_MacamEMS;     user id=sa;password=1234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>